body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

}

#navbar {
    width: 100%;
    margin-top: 0px;
    z-index: 11;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    overflow: hidden;
}

/* 1st navbar CSS__________________________________________________________________________________ */
#first_navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%
}

#logo1 img {
    height: 13px;
    background-color: #000;
    padding: 11px;
    margin-top: -3px
}


#logo2 img {
    height: 20px;
    padding-left: 10px;
    margin-right: 10px
}

#logo3 img {
    height: 11px;
    margin-left: 7px;
    padding-bottom: 2px;


}

#partition_logo {
    color: #ccc;
    font-size: 38px;
    margin-top: -15px;
}

#links-accounts {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 15px;
}

.link {
    text-decoration: none;
    color: #1e1d1d;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.add-to-logo {
    height: 19px;
}


.count {
    background-color: #ff69b4;
    color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: -8px;
}

#profile_dropdown {
    border: none;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 3px;
}

#login_box{
    display: flex;
}
#login_box select:focus{
    border: none;
    outline: none;
}


/* _________________login CSS_____________ */

body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif
}

#login {
    /* padding:0px 25px; */
    border: none;
    border-radius: 8px;
}


#login_popup {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 50px;
    max-width: 500px;
    box-sizing: border-box;
    padding: 50px;
    z-index: 9999;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

#login_popup>h3 {
    font-weight: 600;
    line-height: normal;
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

#login_popup>p:nth-child(2) {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(38, 37, 37);
}

#login_popup img {
    max-width: 140px;
    width: 100%;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
}

#login_line {
    content: "";
    background: #dcdcdc;
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    height: 1px;
    top: 50%;
    left: 0;
}

h5 {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    line-height: 4px;
}

#login_popup input {
    font-size: 13px;
    font-weight: 540;
    line-height: 20px;
    border: 1px solid #ececec;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #6d6d6d;
}

#login_popup input:focus {
    outline: none;
}

#login_btn,
#OTP_btn,
.otp_btn {
    width: 100%;
    background: #fc6486;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    margin-top: 30px;
    display: block;
    border: none;
    cursor: pointer;
}

#login_btn,
#OTP_btn {
    outline: none;
}

h5>span {
    position: relative;
    background: #fbfbfb;
    padding: 0 5px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 125px;
}

#login_fg {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#login_skip {
    text-decoration: none;
    color: #A5A5A5;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    margin-top: 35px;
    display: block;
}

p+#close {
    position: absolute;
    right: 10px;
    top: 0px;
    color: #000;
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 90%;
}

#ph_number+span,
#OTP+span,
#OTP_enterd+span,
#OTP+span {
    font-size: 12px;
    color: #FF0000;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    line-height: 18px;
}

#mail_sent {
    font-size: 12px;
    color: green;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    line-height: 18px;
}

#box {
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.2);
    /* margin-top:-50px ; */
    height: 100vw;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 20;
    /* border-radius: 5px; */
    transform: translate(-50%, -50%);
}

.otp a,
#forgot_pass {
    color: #fc6486;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

#otp_forgot {
    display: flex;
    justify-content: space-between;
}

#otp_forgot>div {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

#otp_forgot>div input {
    width: 15px;
}

/* 2nd navbar CSS....____________________________________________________________________ */


#second_navbar {
    background-color: #fff;
    display: flex;
    height: 80px;
    justify-content: space-between;
    color: black;
    font-size: 13px;
}

#firstOf_secondnavbar {
    display: flex;
    width: 90%;
    gap: 50px;

}

#logo4 {
    width: 20%;
    display: flex;
    align-items: center;

}

#imgLogo {
    height: 30px;

}

#ulList_div {
    display: flex;
}

#ulList {
    display: flex;
    list-style: none;
    gap: 12px;
    align-items: center;
}


.options {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    width: 100%;
    margin-top: 1px;
    padding: 50px 55px 50px 45px;
    position: absolute;
    text-align: left;
    box-sizing: border-box;
    z-index: 10;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    /* align-items: center; */
    line-height: 2.5;
    font-weight: lighter;
}

.options div {
    flex: 1;
}

.hidden {
    display: none;
}

.options a {
    text-decoration: none;
    color: #000;
}

.options li {
    list-style: none;
}

.options img {
    width: 200px;
    height: 200px;
}
.options li:hover{
    color: rgb(212, 62, 62);
}

#ulList_div>ul>li:hover>.hidden {
    display: block;
    /* z-index: 60; */
}

#ulList_div>ul>li:hover>.options {
    display: flex;
    /* z-index: 1; */
}

#pop1 img,
#pop2 img,
#pop3 img,
#pop10 img {
    width: 400px;
    height: 300px;
}

#pop1 div,
#pop2 div,
#pop3 div,
#pop10 div {
    padding-left: 150px;
}

#pop5 div img,
#pop6 div img {
    width: 100%;
    height: 300px;
}

#second_navbar li>a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
}

a:hover {
    cursor: pointer;
}

#search_amount_div {
    display: flex;
}

#search_amount_div:hover {
    cursor: pointer;
}

#searchIcon,
.fa-solid {
    margin-top: 33px;
    padding-right: 30px;
}

/* #search_input {
    width: 200px;
    margin-top: 30px;

} */
#inputSearch {
    width: 12px;
    height: 15px;
    box-sizing: border-box;
    border: 0px solid rgb(179, 173, 173);
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 25px;
    margin-right: -25px;
}

#search_1 {
    /* border: 5px solid green; */
    width: 150px;
}

.fa-solid {
    display: flex;
    margin-top: -20px;
    /* padding-bottom: 10px; */
    margin-left: 15px;
}

#inputSearch:focus {
    width: 130px;
    border: none;
    outline: none;
    background-color: rgb(248, 247, 247)
}

#inputSearch:hover {
    cursor: pointer;
}

#amount_select {
    /* display: block; */
    height: 20px;
    margin-top: 28px;
    margin-right: 40px;
    border-color: rgb(175, 167, 167);
    font-size: 12px;
    text-align: center;
}

/* search dropdown_______________________ */

        .option__option{
            width: 500px;
        }
        #dropdown{
            width: 500px;
            background: rgb(232, 232, 232);
        }

/* _________________________________________ended Navbar CSS __________________________________________*/

#footer {
    padding-left: 170px;
    padding-right: 200px;
}

.borderFun {
    width: 100%;
    height: 0.1px;
    background-color: #d2d2d2;
    margin-top: 35px;
    margin-bottom: 35px;
}

.borderFun1 {
    width: 53%;
    height: 0.1px;
    background-color: #d2d2d2;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
}


.borderFunHorizontal {
    border-left: 0.5px solid #d2d2d2;
    height: 200px;
}

/* setion1......__________________ */
#aboutFaballey>div {
    margin-bottom: -30px;
}

#aboutFaballey button {
    color: #FC6486;
    margin-top: -3px;
    border: none;
    background-color: white;
    text-decoration: underline;
}

#readmore_btn {
    display: flex;
    justify-content: flex-end;
}

#button_toreadmore:hover {
    cursor: pointer;
}

#read_more {
    display: none;
}

.read_para {
    font-weight: bold;
    font-size: 16px;
}

#aboutFaballey p {
    font-size: 12px;
    display: block;
    line-height: 20px;
    font-weight: 500;
}

/* setion2......__________________ */
#img_DownloadApp {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#img_DownloadApp_1 {
    width: 75%;
    align-items: center;
}

#img_DownloadApp_2 {
    width: 25%;
    text-align: center;
}

#img1_img2 {
    display: flex;
}

/* #img1{
    width: 100%;
}

#img2 {
    margin-left: 25px;
    width: 100%;
} */


#quality_Image {
    width: 100%;
}

#company_help_newsletter a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

/* section 3........________________________________ */
#company_help_newsletter {
    display: flex;
    width: 100%;
}

#help_lists {
    display: flex;
}

#company_head {
    width: 20%;
}

#company_head h4 {
    margin-bottom: 35px;
}

#company_help_newsletter p {
    /* line-height: 10px;
    white-space: nowrap; */
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#help_helpHeading {
    width: 45%;
}

#help_helpHeading div {
    padding-left: 5px;
}

#help_helpHeading h4 {
    text-align: center;
}

#newsletter_connect {
    width: 35%;
}

#newsletter_connect div {
    width: 100%;
    text-align: center;
}

#newC_4 img {
    height: 30px;
    width: 40px;
    padding: 5px;
}

#input_email {
    height: 30px;
    width: 260px;
}

#email_subscribe {
    height: 36px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

#newC_3 {
    margin-top: 35px;
    margin-bottom: -15px;
}

/* section 4........________________________________ */
#contactUs_div2 {
    display: flex;
    width: 100%;
}

#contactUs_div2 p {
    /* line-height: 10px;
    font-size: 17px;
    white-space: nowrap; */

    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#contactUs_div2 h4 {
    margin-bottom: 35px;
}

#office_address {
    width: 36%;
}

#return_address {
    width: 32%;
    padding-left: 40px;
}

#payment_methods {
    width: 32%;
    padding-left: 70px;
}

/* section 5........________________________________ */

#popular_search>p {
    font-size: 17px;
    line-height: 30px;
    word-spacing: 1px;
}

/* last section.........______________________________ */
#reservedRights {
    text-align: center;
}

/* _________________________________________ended Footer CSS __________________________________________*/

/* __________SHOP SALE SHIPPING__________________ */

#shop_sale_shipping {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#sss1 {
    background-color: #FFE9E5;
    width: 33%;
    height: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 6px;
}

#sss2 {
    background-color: #F8C9C8;
    width: 34%;
    height: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 6px;
}

#sss3 {
    background-color: #FFE9E5;
    width: 33%;
    height: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 6px;
}

/* _________Slideshow container CSS____________________*/
#shop_sale_shipping {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

/* #sss1 {
    background-color: #FFE9E5;
    width: 33%;
    height: 25px;
    padding-top: 2px;
}

#sss2 {
    background-color: #F8C9C8;
    width: 34%;
    height: 25px;
    padding-top: 2px;
}

#sss3 {
    background-color: #FFE9E5;
    width: 33%;
    height: 25px;
    padding-top: 2px;
} */



.slideshow-container {
    max-width: 100%;
    /* position: relative; */
    margin-top: 6px;
    margin-bottom: 26px;
}

.slideshow-container:hover {
    cursor: pointer;
}

.mySlides {
    display: none;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* width: auto; */
    /* margin-top: -22px; */
    padding: 10px;
    color: rgb(247, 159, 174);
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: white;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 5px;
    transform: translateY(-50%);
}

#prev {
    margin-left: 5px;
    transform: translateY(-50%)
}

#dot_div {
    margin-top: -40px;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 1px;
    background-color: rgb(247, 159, 174);

    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
} */

/* @keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */
/* __________________________main container CSS________________________________________ */
#trending,
#hotRN,
#new_arrival,
#deals_head,
#spotlight {
    width: 100%;
    text-align: center;
}

#trending {
    height: 50px;
}

#trending_imgs {
    width: 100%;
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: space-around;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

#trending_imgs img {
    width: 100%;
}

#hotRN_imgs,
#arrival_imgs,
#curvy_queens {
    width: 100%;
}

#hotRN_imgs img,
#arrival_imgs img,
#curvy_queens img {
    width: 100%;

}

#instashop {
    padding: 5px;
}

#insta_head {
    width: 100%;
    text-align: center;
}

#insta_imgages {
    display: flex;
}

#insta_mainImg {
    width: 34%;
}

#insta_mainImg img {
    width: 100%;
}

#insta_gridImg {
    width: 66%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 15px;
    padding: 0 10px 0 10px;
}

#insta_gridImg img {
    width: 100%;
    /* height: 240px; */


}

#text_insta {
    background-color: #FFE9E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text_insta a {
    text-decoration: none;
    font-size: large;
    color: #000;
}

#deals_images,
#spotlight_images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

#deals_images img,
#spotlight_images img,
#explore_images img {
    width: 100%;
}

#video_faballey {
    display: flex;
    margin-top: 70px;
    padding: 0 1px 0 10px;
}

#video_youtube {
    width: 65%;
    padding-right: 30px;
}

#video_text {
    width: 35%;
    overflow-y: auto;
}

#videoHeading {

    margin: 0%;
    letter-spacing: -2px;
    padding-right: 180px;
    font-size: 40px;
    font-weight: 600;
}

.border_videotext {
    width: 33%;
    height: 5px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    height: 500px;
}

#video_text p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 0.5rem;
    display: inline-block;
    font-weight: 600;
    padding-right: 20px;
    margin-bottom: 15px;
}

#video_para {
    padding-right: 35px;
    height: 300px;
}

#video_para button {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2rem;
    display: inline-block;
    position: relative;
    padding: 1rem 2rem;
    font-size: 17px;
    background: #000;
    color: #fff;
    border-radius: 2rem;
}

#curvy_queens {
    margin-top: 10px;
}

#explore_more h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

#explore_more div {
    width: 100%;
    height: 25px;
}

#explore_more p {

    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 1px;
    text-align: center;
}

#explore_images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 30px;
}










/* Media queries for both the navbars and footer...................... */
@media only screen and (min-width: 900px) and (max-width:1150px) {
    #search_amount_div {
        margin-right: 90px;
        width: 15%;
        gap: 50px;
    }

    /* input [type=text]{
        margin-top: 0px;
        border: 1px solid red;
    } */
    #inputSearch:focus {
        width: 115px;
    }

    #footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}


@media only screen and (max-width:1100px) {
    #footer {
        padding-left: 100px;
        padding-right: 100px;
    }

    #logo {
        margin-left: 0%;
    }

    /* #search_amount_div {
        width: 15%;
    } */

    #ulList {
        flex-wrap: wrap;
        gap: 10px;
    }
    #help_lists {
        flex-direction: column;
    }
    #help_lists p{
       padding-left: 20px;
    }

    /* .fa-solid{
        padding-right: 25px;
    } */


}

@media only screen and (min-width: 601px) and (max-width:900px) {
    #search_amount_div {
        margin-right: 90px;
        width: 15%;
        gap: 30px;
    }

    /* input [type=text]{
        margin-top: 0px;
        border: 1px solid red;
    } */
    #inputSearch:focus {
        width: 115px;
    }

    #footer {
        padding-left: 50px;
        padding-right: 50px;
    }
    #video_faballey {
        flex-direction: column;
    }
    #video_youtube {
        width: 100%
    }
    
    #video_text {
        width: 100%
    }
    #img1_img2 {
        flex-direction: column;
    }

}

@media only screen and (max-width:600px) {
    #logo {
        margin-left: 0%;
    }

    #first_navbar {
        flex-direction: column;
        align-items: start;
        padding: 15px;
    }

    #second_navbar {
        height: 125px;

    }

    #firstOf_secondnavbar {
        flex-direction: column;
        gap: 0px;
    }

    img#imgLogo {
        margin-left: 12px;
        padding: 5px;
    }

    #ulList {
        gap: 8px;
        padding-left: 4%;
        padding-right: 0px;
        width: 400px;
    }

    #ulList_div {
        width: 100%;
    }

    #searchIcon {
        margin-top: 2px;
    }

    #amount_select {
        margin-top: 2px;

    }

    /* .fa-solid{
        margin-top: 5px;
        /* margin-right: -10px; */
    */ #search_amount_div {
        /* margin-right: 100px; */
        height: 20px;
        font-size: 12px;
        text-align: center;
        border: 0px solid grey;
        overflow: hidden;
        /* gap: 25px; */
    }

    /* input [type=text]{
        margin-top: 0px;
        border: 1px solid blue;
    } */
    #inputSearch:focus {
        width: 150px;

    }

    #inputSearch {
        margin-top: 1px;
    }

    #search_1 {
        width: 90px;
        margin-left: -250px;
        margin-right: 70px;
    }

    #footer {
        padding-left: 15px;
        padding-right: 15px;
    }
    #help_lists p{
        padding-left: 2px;
     }
     #video_faballey {
        flex-direction: column;
    }
    #video_youtube {
        width: 100%
    }
    
    #video_text {
        width: 100%
    }
    #img1_img2 {
        flex-direction: column;
    }

}