* {
    /* border: 1px solid red; */
    font-family: 'Lato',sans-serif;

  }
  body{
    background-color: #f2f2f2;
    margin: 0%;
    padding: 0%;
  }
  .profile-section{
    display: flex;
    border: 1px solid transparent;
    
  }
  .profile-left-section {
    width: 20%;
    height: 90vh;
    margin: 2% 0% 2% 9%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    overflow: hidden;
    
  }
  .profile-user-section {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  }
  .profile-user-section > span {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:#f2f2f2; 
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
    color: #b0b0b0;
    }
  
 
  .profile-user-section>h4{
    /* line-height: 24px; */
    font-size: 13px;
    font-weight: 800;
    color: #323232;
  }
  .profile-user-section>p{
    /* line-height: 30px; */
    font-size: 13px;
    color: #323232;
    margin: -10px 0px;
  }
  hr{
    height: 0.04px !important;
  }

  .profile-menu-section {
    margin: 15px 0px;
    
  }
  a:hover{
    color: #FF8BA5;
  }
  .profile-menu-section ul {
    
    list-style-type: none;
    width: 65%;
    text-align: left;
    padding: 15px;
    margin: auto;
  }
  .profile-menu-section a {
    
    color: inherit;
    text-decoration: none;
    font-size: 13px;
    color: #323232;
    line-height: 30px;
    font-weight: 700;
  }
  .profile-menu-section a>i{
    margin: 15px;
   
   
  }
  
  .profile-right-section{
   display: flex;
   flex-direction: column;
   width: 40%;
   margin: 2% 0% 2% 2%;
   position: sticky;
  }
  .InfoForm{
    display: none;
  }
  .profile-right-address-section,.profile-right-info-section,.profile-right-order,.profile-right-credit-section,.profile-right-voucher,.profile-right-wishlist-productDetails,.contact-details{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    overflow: hidden;
    padding: 15px;
  }
  .profile-right-address-section>div,.profile-info-address-section>label,input,button{
    display: flex;
    overflow: hidden;
  }
  #user-email,#country,#user-phoneNo{
    padding: 15px;
    margin: 10px;
    font-weight: 700;
    border: 1px solid #f2f2f2;
    pointer-events:none;
    overflow: hidden;
  }
  
  #user-email{
    width: 89.5%;
  }
  #country{
    width:30%;
    
  }
  #user-phoneNo{
    width:70%;
  
  }
  .button-section{
   /* background-color:beige; */
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
  }
  .button-section> button {
    background-color: #FF8BA5;
    display: flex;
    border:1px solid transparent;
    color: white;
    width: 100%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
  }

.dob-select select{
  width: 30%;
  padding: 0.5rem;
  margin: auto;
  border: 1px solid rgb(235, 233, 233);
  outline: transparent;
  /* margin: 0.5rem; */
}

  .button-section> button:hover{
    cursor: pointer;
  }
  .button-section> button > #address-edit,#info-edit{
    width: 100%;
    /* font-size: 150px; */
  }
   #address-update,#info-update{
    border: 1ps solid red;
    width: 60%;
    display:none;
  }
  #address-cancle,#info-cancel{
    width: 40%;
    background-color: #f4f4f4 ;
    color: #323232;
    display: none;
  }

  .profile-right-info-section>label{
    color: #9a9a9a;
    margin: 15px -5px;
    padding: 15px;
  }
  .profile-right-info-section>input,button,#country,#wishList-size,.chgPassword>input{
    padding: 15px;
    margin:10px ;
    font-weight: 700;
    border: 1px solid #f2f2f2;
    width: 89.5%;
  }

  /* #dob */

  .gender-section{
    padding: 15px;
    margin:10px ;
    font-weight: 700;
    /* border: 1px solid #f2f2f2; */
    /* border: 1px solid red; */
    width: 89.5%;
    color: #9a9a9a;
  }
  .gender-section>input{
    /* accent-color: #FF8BA5; */
    font-size: medium;
    font-weight: 700;
    color:#FF8BA5;
    margin:0px 15px 5px 5px ;
    border: none;
  }
  .profile-right-info-section>div{
    display: flex ;
  }
  
  
  .profile-right-info-section>div>.dob-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    text-align: center;
}

/* .gender-section>button{
  width: 18%;
  border: 1px solid transparent;
} */
/* class for click button */
/* .button-active{
  background-color: #FF8BA5;
  border: 1px solid transparent;
  color: white;
} */
/* .gender-section>button:hover{
  cursor: pointer;
} */
.password{
  border: 1px solid #f2f2f2;
  margin: 10px 10px ; 
  justify-content: space-between;
  padding: 0px 10px;
  
}
.password>p:first-child{
  
  font-size: 13px;
  font-weight: 700;
  color: #b0b0b0;
}
.password>p:last-child{
  text-decoration: underline;
  font-size: 11px;
  font-weight: bolder;
  color: #FF8BA5;
}


.primaryInfo{
  display: flex;
  margin: -8px 10px;
  pointer-events:none;
  overflow: hidden;
  
}
.primaryInfo>p:first-child{
  color: #9a9a9a;
  font-weight: 500;
  font-size: 13px;
  width: 35%;
}
.primaryInfo>p:nth-child(2){
  color: #999;
  font-weight: 700;
}

.profile-right-order-orderDetail{
  display: flex;
  justify-content: space-between;
}

.profile-right-order-orderDetail li{
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}
.profile-right-order button{
 
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 13px;
  margin: 10px ;
  padding: 10px;
  background-color: white;
  color: #323232;
  width:30%;
  height: max-content;
  text-align: center;
  display: inline-block;
  }

  .profile-right-productDetails{
    display: flex;
  }
  .profile-right-productDetails>img{
    width: 20%;
    float: left;
    border: 1px solid #e6e6e6;
  }
  .profile-right-productDetails>.productDetails{
    float: left;
    padding-left: 15px;
  }
  .productDetails>p{
    
    font-weight: 600;
    margin-bottom: 8px;
    color: #323232;
  }
  .productDetails>p:first-child{
    font-size: 14px;
    color: #323232;
  }
  .productDetails>p:nth-child(2){
    font-size: 12px;
  }
  .productDetails>p:nth-child(3){
    font-size: 14px;
  }
  .productDetails i{
    color: #9a9a9a;
    font-size: 14px;
    line-height: normal;
  }
  .creditBox{
    margin: 20% 30%;
    /* border: 1px solid red; */
    width:40%;
    text-align: center;
  }
  .creditBox p{
    font-size: 12px;
    font-weight: 600;
    
  }
  .creditBox span{
    background: #323232;
    color: #fff;
    width: 100%;
    display: block;
    font-weight: 600;
    line-height: 35px;
  }
  .creditBox span i{
    stroke-width: 1px;
  }
  .profile-right-section> p{
    overflow: hidden;
    width: 70%;
    font-size: 12px;
    margin: 10px 0px 0px;
    color: #000000;
    font-weight: 600;
  }
  .profile-right-voucher-header{
    border-bottom: 1px solid #dcdcdc;
    margin: 10px 0px;
  }
  .profile-right-voucher-header,.profile-right-voucher{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0px;
  }
  .profile-right-voucher-header span,.profile-right-voucher span{
    width: 30%;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #999;
  }
  .profile-right-voucher span{
    font-size: 15px;
    color: #323232;
  }

  .profile-right-address,.profile-right-Newaddress{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
  }
  .profile-right-address{
    padding: 10px;
  }
  .profile-right-address span{
    font-size: 18px;
    color: #323232;
    line-height: 30px;
  }
  
  .profile-right-address p{
    font-size: 14px;
    color: #999;
    font-weight: 500;
    margin: 0%;
  }
  #address-check {
    color: #FF8BA5;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 75px;
    font-weight:bolder;
  }
 
  .profile-right-Newaddress {
    width: 104%;
    border: none;
  }
  
  .profile-right-Newaddress> p#add-Address{
    text-align: center;
    color: #292727;
    font-weight: 550;
  }
  .profile-right-Newaddress form{
    /* border: 1px solid #f4f4f4; */
    /* margin: 15px; */
    border: none;
    padding:20px 50px;

  }
  .profile-right-Newaddress form>input,.profile-right-Newaddress select{
    /* border:1px solid red; */
    width: 100%;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    border: none;
    /* padding: 7px 0; */
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    
  }
  .profile-right-Newaddress form input{
    margin: 15px 0px 15px;

    /* background-color: red; */
  }
 
  .profile-right-Newaddress form>input:focus{
    outline: 1px solid transparent;
  }
  .profile-right-Newaddress form>span{
    color: red;
    display: block;
    margin-top: -10px;
  }
 

  .profile-right-Newaddress form > div:first-of-type{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #999999;
    cursor: pointer;
  }
  .profile-right-Newaddress form > div:first-of-type p{
      margin: 20px 15px;
      
  }
  #add-address-btn{
    width: 50%;
    margin: auto;
  }
  
  .profile-right-wishlist-headerBox{
    width: 150%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
    color: #999;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #dcdcdc;
    padding: 15px 0;
    margin: 10px 0px;
  }
  .profile-right-wishlist-header{
    width: 80%;
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
  .profile-right-wishlist-productDetails{
    width: 145%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .profile-right-wishlist-image{
    display: flex;
    justify-content: space-between;
    width: 40%;
    
  }
  .profile-right-wishlist-image img{
    width: 40%;
    float: left;
    border: 1px solid #e6e6e6;
  }
  .profile-right-wishlist-image p{
    font-size: 15px;
    font-weight:600;
     margin: 25px 10px;
     color: #323232;
     overflow: hidden;
  }
  .profile-right-wishlist-Details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
  }
  .profile-right-wishlist-Details div{
    width: 25%;
    height: 30px;
    margin-top: -50px;
  }
  #remove-wishlist{
  margin: -40px 0px 0px 150px;
  color: #999;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  font-weight: bolder;
  }
  #addToBag{
    background-color: #FF8BA5;
    text-align: center;
    color: white;
    display: inline-block;

  }
  .addALLbtn{
   width: 100%;
   /* margin: 20px 130px; */
   margin: 5% 28%;
  }
  .addALLbtn+p{
    /* margin: 10px 345px; */
    
    margin:  2% 67%;;
    font-size: 12px;
  }
  .contact-details{
    width: 140%;
  }
  .contact-box{
    margin-top: 20px;
    
  }

  .title{
    font-size: 15px;
    color: #323232;
  }
  .content{
    font-size: 13px;
    color: #323232;
  }

  
  #adress_show>div{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    line-height: 24px;
    padding: 10px;
    margin:10px 0px;
    
  }
  #adress_show{
    width: 100%;
    background-color:  none;
   
  }

  #hidden_form{
    display: none;
  }

  @media only screen and (max-width: 1150px) {
    /* Medium Screen  */
    .profile-right-wishlist-image{
      flex-direction: column;
    }
    .profile-right-wishlist-image p{
      margin: 10px 0px;
      font-size: 12px;
    }
    .profile-right-wishlist-Details div {
      display: flex;
      align-items: center;
      /* border: 1px solid red; */
      font-size: 10px;
      /* padding:0px; */
      margin-top: 2%;
    }
    .profile-right-wishlist-Details{
      /* display: flex;
      align-items: center; */
      /* border: 1px solid red; */
      flex-wrap: wrap;
    }
    
    .profile-right-info-section>input, button, #country, #wishList-size, .chgPassword>input{
      margin: 0px;
      padding:10px 5px;
      width: 100%;
      font-size:11px ;
      /* height: 100%; */

    }
    #remove-wishlist{
      margin: 0px -20px 0px 10px;
      color: #999;
      padding-top: 15px;
      }
      
  }

  @media only screen and (max-width: 600px) {
    /* Small Screen  */
    .profile-right-wishlist-image{
      flex-direction: column;
    }
    .profile-right-wishlist-image p{
      margin: 10px 0px;
      font-size: 12px;
    }
    .profile-right-wishlist-Details div {
      /* border: 1px solid red; */
      font-size: 10px;
      /* padding:0px; */
      margin-top: 2%;
    }
    
    
    .profile-right-info-section>input, button, #country, #wishList-size, .chgPassword>input{
      margin: 0px;
      padding:10px 5px;
      width: 100%;
      font-size:10px ;

    }
    #remove-wishlist{
      margin: 0px -20px 0px 10px;
      color: #999;
      padding-top: 15px;
      }
      #addToBag{
        width: 100%;
        padding: 0px;
        height: 100%;
        /* background-color: red; */
      }
  }




  /* ------------------------navbar */
  