*{
    padding: 0;
    margin: 0;
}
body{
    cursor: pointer;
}
#ttop{
    display: flex;
    margin-left:50px ;
margin-left: 40px;
margin-bottom: -20px;
}
#ttop p{
    margin-left: 10px;
    font-size: 13px;

}
#details-container{
    display: flex;
    cursor: pointer;
}
#details-container #image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 50px;
    cursor: pointer;
}
.image{
    width: 450px;
    height:700px;
}

.icondiv{
    display: flex;
    margin: 10px;
    cursor: pointer;
}
#right-container{
    margin-top: 45px;
    line-height: 30px;
    margin-left: -10px;
    cursor: pointer;
}
.pricediv{
    display: flex;
}

.size{
    display: flex;
    justify-content: space-between;
    width: 478px;
    cursor: pointer;
}
.size-button{
    padding: 19px;
    margin: 20px;
    margin-left: 0px;
    border: none;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.295);
    cursor: pointer;
}
.size-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.size-button:focus{
    background-color: black;
    color:white;
}

.add-button{
    width: 219px;
    padding: 15px;
    margin: 20px;
    margin-left: 0px;
    cursor: pointer;
}
.add-button:first-child:hover{
    scale: 1.01;
    transition: 0.5s;
    background-color: grey;
}
.add-button:last-child:hover{
    scale: 1.05;
    transition: 0.5s;
    background-color:grey;
    color: aliceblue;
}
.add-button:first-child{
    background-color: rgb(252,100,134);
    border: none;
    color: white;
}
.add-button:last-child{
    background-color: rgb(255,255,255);
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.295);
}
.pincode-input{
 
     margin: 6px;
    margin-left: 0px;
    padding-left: 12px;
    cursor: pointer;
   
}
.pin-div{
    border: 1px solid rgba(128, 128, 128, 0.26);
    margin-right: 0px;
    width: 455px;
}
.pincode-input:first-child{
    width: 340px;
    border: none;
    /* border: 1px solid rgba(128, 128, 128, 0.205); */
    font-size: 18px;
    height: 15px;
}
.pincode-input:first-child:focus{
    outline: none;
}
.pincode-input:last-child{
    margin-left: -10px;
    border: none;
  
    background-color:rgb(255,255,255) ;
    /* color: rgb(252,100,134); */

    /* border: 1px solid rgba(128, 128, 128, 0.185); */
    border-left: 1px solid rgba(0, 0, 0, 0.384);
    height: 50px;
}

.cod-button{
    padding: 13px;
    margin: 14px;
    margin-left: 0px;
    width: 143px;
    border: none;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.281);
    cursor: pointer;
}
.avality-checkbox{
    font-size: 13px;
    margin: 10px;
    margin-left: 0px;
    text-decoration: underline;
}

.descdiv{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin: 15px;
    margin-left: -10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.534);
    cursor: pointer;
  
}
.detaildiv{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin: 15px;
    margin-left: -10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.534);
    cursor: pointer;
  
}
.shipingdiv{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin: 15px;
    margin-left: -10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.534);
    cursor: pointer;
}
#social i{
    font-size: 25px;
    margin: 10px;
    margin-top: -90px;
    margin-left: 0px;
    cursor: pointer;
}
#social i:first-child{
    color: rgb(60,176,92);
}
#social i:nth-child(2){
    color: rgb(209,56,131);
}
#social i:nth-child(3){
    color:rgb(93,133,215);
}
#social i:last-child{
    color:rgb(230,0,35);
}




@media screen and (max-width: 800px) {
  #details-container{
    flex-direction: column;
    grid-template-columns: repeat(1,1fr);

  }
  #details-container #image-container {
   width: 100%;
   grid-template-columns: repeat(1,1fr);
   
   gap: 15px;
   margin: auto;
   margin: 20px 0px;
}
#details-container #image-container .image{
    width:100%;
}

body{
    padding: 0px 40px;
}
}
