*{
    padding: 0;
    margin: 0;
}
body{
    cursor: pointer;
    font-family :- "Lato", sans-serif;
}

#top{
    display: flex;
}
#top .topbar-up,.topbar-botom{
    display: flex;
    

}


#top .topbar-up .dropdown{
    display: flex;
    width: 191px;
    justify-content: space-around;
    border: 1px solid rgba(128, 128, 128, 0.308);
    margin: 6px;
}
#top .topbar-up .dropdown a{
    color:grey;
    font-size: 13px;
    
}
#top .topbar-up .btn{
    border: none;
}


#top .topbar-botom .btn{
    border: none;
}
#top .topbar-botom .dropdown a{
    color: grey;
    font-size: 13px;
}
#top .topbar-botom .dropdown{
    display: flex;
    width: 191px;
    justify-content: space-around;
    border: 1px solid rgba(128, 128, 128, 0.308);
    margin: 6px;
}

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-left: 176px;
}
#img-div{
    margin-left: 176px; 
}
#img-div img{
    width:1010px;
}

#main{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-family :- Lato, sans-serif
}
#products-container{
    width: 84%;
    margin: auto;
    
    align-items: right;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-left: 180px;
    font-family :- Lato, sans-serif

}
.img{
    /* border-radius:  5px 5px 0 0 ; */
    height: 450px;
}
#sale{
    width: 14%;
    margin-top: 60px;
    font-family :- Lato, sans-serif
}
.pricediv{
    display: flex;
    margin: 10px;
    margin-top: -5px;
    font-family :- Lato, sans-serif
}
.ddiv{
    display: flex;
    margin: 10px;
    margin-top: -30px;

}
.btndiv{
    display: flex;
    justify-content: space-between;
    margin: 20px 6px 20px 6px;
    margin-top: -8px;
    /* justify-content: flex-end;  */
}
.btndiv .button{
    width: 230px;
    padding: 5px;
    border:none;
    background:rgb(252,100,134);
    color: white;
   
}
.btndiv .button:hover{
    scale: 1.01;
    transition: 0.5s;
    background-color: grey;
}
.card{
    box-shadow: rgba(36, 35, 35, 0.2) 0px 2px 8px 0px;
    font-family :- "Lato", sans-serif;
    border-radius: 0px;
    line-height: 20px;
    width: 320.09px;
    height: 618.27px;
    /* line-height: 40px; */
}

#product{
    display: flex;
    flex-direction: column;
}

body > #footer {
    padding: 0;
    margin: auto;
    width: 100%;
}


#loaddiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
}
#loaddiv #load-more{
    font-family: Lato;
    width: 388px;
    height: 45px;
    margin: 40px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    border: 1px solid rgb(253,124,134);
    background-color: white;
    color: rgb(253, 92, 105);
    
}

#sale .kmv{
    /* border-top: 1px solid grey; */
    font-family: Montserrat, sans-serif;
    width: 180%;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    padding-top: 10px;
    margin-bottom: 2px;
    /* margin-top: 10px; */
   
    color:  rgb(66, 69, 66);
}

#sale .kmv:hover{
        color: rgb(252,100,134);;
      }

#sale .kmv p{
    /* margin-top: -0px; */
    margin-bottom: 8px;
}
#sorting-div{
    border-top: 1px solid rgba(128, 128, 128, 0.199);
}
#product #sorting-div{
    display: flex;
    margin-left: 180px;
    justify-content: space-between;
    font-size: 13px;
}

#product #sorting-div div:first-child{
    display: flex;
    margin-top: 10px;

}
#product #sorting-div div:first-child p{
    margin-left: 0px;
    margin-right: 10px;
}
#product #sorting-div p{
    margin-right: 1px;
    margin-top: 9px;  
}
#product #sorting-div div:last-child{
    display: flex;
    margin-top: 10px;
    margin-right: 15px;
}
#product #sorting-div div:last-child >select{
    border: none;
    margin-top: -11px;
    border-top: 1px solid rgba(128, 128, 128, 0.212);
}
#product #sorting-div div:last-child >select:focus{
    outline: none;
}
#product{
    margin-top: 70px;
}
.products-detail{
    display: flex;
    flex-direction: column;
    padding: 3px;
}
.products-detail .product-name{
    line-height: 1.1em;
    height: 1.5rem;
    font-size: 13px;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
}
.dropdown-menu input{
    margin-right: 10px;
    margin-top: 3px;
}



/* media query */
@media screen and (min-width: 2001px){
    .products-detail .product-name{
        height: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    #main{
        flex-direction: column;
    }
    #img-div{
        display: none;
    }
    #products-container{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin-left: 30px;
        margin-top: 20px;
    }
    #sale{
        width: 60%;
    }
    #sorting-div > div p{
        display: none;
    }
    #product #top .topbar-up {
        display: none;
    }
    #product #top .topbar-botom{
        display: none;
    }
    
    #top{
        display: flex;
    }
    .card{
        width:100%;
       
    }
}
@media screen and (max-width: 348px) {
    #main{
        flex-direction: column;
    }
    #img-div{
        display: none;
    }
    #products-container{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin-left: 30px;
        margin-top: 20px;
    }
    #sale{
        width: 60%;
    }
    #sorting-div > div p{
        display: none;
    }
    #product #top .topbar-up{
        display: none;
    }
    #product #top .topbar-botom{
       display: none;
    }
    #top{
        display: flex;
    }
    .card{
        width:100%;
       
    }
    #ttop{
        display: none;
    }
}







